@charset "utf-8"; //设置中文字符
@mixin borderstyle($size:1px, $style:solid, $color:#111) {
    border: $size $style $color;
} //边框
@mixin tanxinghe($flex:flex, $flex-direcion:row, $flex-warp:wrap, $justify-content: space-around, $width:1200px, $height:200px) {
    display: flex; //设置盒子为弹性盒
    flex-direction: row; //设置横向排列,
    // flex-direction: column;//设置竖向排列
    flex-wrap: wrap; //自动折行
    // flex-wrap: nowrap;//换行，第一行在上方
    // flex-wrap: wrap-reverse;//换行，第一行在下方。
    justify-content: space-around; //主轴上的对齐方式:每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍
    // justify-content: flex-start; //（默认值）：左对齐
    // justify-content: flex-end; //右对齐
    // justify-content: center; //居中
    // justify-content:space-between;//两端对齐，项目之间的间隔都相等。;
    // justify-content: space-evenly; //项目是分布的，以便任何两个项目之间的间距（和边缘的空间）相等。
    width: $width;
    height: $height;
} //弹性盒设置
@mixin position($style:absolute, $t:0px, $l:0px, $r:0px, $b:0px) {
    position: $style; //absolute:绝对定位；相对于父元素或者body进行定位;relative:相对定位；相对于当前位置进行定位;fixed:	
    // 固定定位；相对于浏览器的页面进行定位；inherit:继承父元素的position的属性
    top: $t;
    left: $l;
    right: $r;
    bottom: $b;
}

@mixin radius {
    border-radius: 10px;
}

// 这里是公共值 
$centre:1200px; //版心宽度
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
div,
img {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}