@import "public";
.center {
    width: $centre;
    margin: 0 auto;
    // @include borderstyle();
}

a {
    color: #fdfdfd;
}

// 这里是头部的导航nav样式
.viewwidth {
    height: 36px;
    background-color: #000;
}

.nav {
    font-size: 12px;
    @include tanxinghe(flex, nowrap, space-between);
    color: #797474;
    text-align: center;
    line-height: 36px;
    a {
        color: #afafaf;
        padding: 8px;
        &:hover {
            color: #fff;
        }
        &:hover .ai {
            transform: rotate(-90deg);
        }
        .ai {
            display: inline-block;
            transform: rotate(90deg);
        }
    }
    .nav-l {
        @include tanxinghe(flex, nowrap, flex-start);
    }
    .nav-r {
        @include tanxinghe(flex, nowrap, flex-start);
    }
}

// 这里是二级导航
.navigation {
    position: relative;
    .two-navigation {
        @include borderstyle();
        @include position;
        top: 36px;
        right: 0;
        background-color: #fff;
        text-align: center;
        border-radius: 8px 0 8px 8px;
        line-height: 24px;
        // display: none;
        tr {
            padding: 10px;
        }
    }
}