@import "navfooter";
.center1 {
    @extend .center;
    @include tanxinghe(row, nowrap, flex-start);
}

.goods {
    // background-image: none;
    // z-index: 999;
    .tu {
        position: relative;
        width: 520px;
        height: 450px;
        @include borderstyle( 1px, solid, rgb(11, 11, 196));
        .xf {
            width: 200px;
            height: 200px;
            @include borderstyle(2px, solid, red)
        }
        #df {
            width: 520px;
            height: 520px;
            position: absolute;
            top: 0;
            left: 520px;
            @include borderstyle(3px, solid, pink)
        }
    }
    #ulist {
        @include tanxinghe(row, nowrap, space-between);
        #list {
            width: 450px;
            height: 68px;
            @include borderstyle(1px, solid, #7e7c79)
        }
        a {
            display: inline-block;
            width: 30px;
            height: 68px;
            line-height: 60px;
            text-align: center;
            color: #7e7c79;
            @include borderstyle();
        }
    }
    .rjiantou {
        display: block;
        transform: rotate(180deg);
    }
}

.goodsinfo-word {
    width: 450px;
    height: 450px;
    background-color: red;
}