@import "navfooter";
$n:none;
body {
    font-size: 12px;
    background-color: rgb(247, 249, 255);
}

//  这里是头部的logo
.top-log-li {
    padding: 0;
    ul {
        padding-left: 0;
        height: 24px;
        margin: 18px 0 15px;
        font-size: 16px;
        li {
            text-align: center;
            float: left;
            margin: 0 12px;
            &:hover .a {
                color: red;
                text-decoration: $n;
            }
            a {
                color: #3a3939;
            }
        }
    }
}

.top-log-in {
    text-align: center;
    margin: 18px 0 15px;
    input {
        width: 205px;
        height: 30px;
        border-radius: 20px;
        border: 0;
        background-color: #ececec;
        color: #918c8c;
    }
}

// 这里是头部的logo 部分的二级效果
.navigation-spfl {
    position: relative;
    &:hover .navigation-two {
        display: block;
    }
    .navigation-two {
        position: absolute;
        top: 38px;
        left: -215px;
        width: 220px;
        height: 400px;
        border-radius: 8px 0px 0px 8px;
        background-color: rgb(233, 229, 229);
        display: none;
        z-index: 333;
        @extend %ul;
        li {
            text-align: left;
            width: 200px;
            height: 40px;
            color: #969494;
            span {
                float: right;
            }
            // 这里里三级效果
            dl {
                position: absolute;
                left: 220px;
                top: 0;
                width: 450px;
                height: 400px;
                background-color: #fff;
                border-radius: 0px 8px 8px 0px;
                dt {
                    margin: 20px;
                }
            }
        }
    }
}

// 这里是banner部分的轮播图
.banner {
    @extend %ul;
    height: 550px;
    width: 100%;
    padding: 0;
    position: relative;
    // 轮播图片
    .lunbotu {
        width: 100%;
        height: 550px;
        position: absolute;
        opacity: 0;
    }
    // 轮播图上的圆圈
    .ol {
        width: 100%;
        height: 50px;
        position: absolute;
        left: 800px;
        top: 450px;
        em {
            float: left;
            display: block;
            text-align: center;
            width: 30px;
            height: 30px;
            margin-right: 13px;
            border: 1px solid;
            border-radius: 50%;
            color: #fff;
            z-index: 333;
        }
        .active {
            background-color: #fff;
        }
    }
}

// 轮播图上的箭头
.jiantou {
    width: 100%;
    position: absolute;
    top: 200px;
    .a-1 {
        #left {
            width: 80px;
            height: 80px;
            display: block;
            font-size: 50px;
            color: #fff;
            background-color: rgba($color: #000000, $alpha: 0.1);
            text-align: center;
            line-height: 80px;
            border-radius: 50%;
            float: left;
            margin-left: 210px;
        }
        #right {
            width: 80px;
            height: 80px;
            display: block;
            font-size: 50px;
            color: #fff;
            background-color: rgba($color: #000000, $alpha: 0.1);
            text-align: center;
            line-height: 80px;
            border-radius: 50%;
            float: right;
        }
    }
}

// 轮播图上的列表
.list-1 {
    margin: 16px 0;
    width: 100%;
    position: absolute;
    right: 480px;
    .list-11 {
        position: relative;
        width: 200px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 28px rgba(0, 0, 0, 0.08);
        a {
            &:hover dl {
                display: block;
            }
            &:hover .list-11 {
                border-radius: 10px 0 0 10px;
            }
            font-size: 16px;
            padding: 12px 16px;
            display: block;
            color: #969494;
            text-decoration: $n;
            span {
                float: right;
            }
            dl {
                position: absolute;
                // border: 1px solid;
                left: 180px;
                top: 0;
                width: 450px;
                height: 460px;
                background-color: #fff;
                border-radius: 0px 8px 8px 0px;
                display: none;
                dt {
                    margin: 20px;
                    float: left;
                }
            }
        }
    }
}

// 这里是banner图上的登录条
.register {
    height: 120px;
    width: 100%;
    position: absolute;
    top: 500px;
    .register-bx {
        height: 120px;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px 0 20px 0;
        .register-l {
            border-right: solid 1px #afafaf;
            height: 88px;
            text-align: center;
            .touxiang {
                border-radius: 50%;
                display: inline-block;
                background-color: #dfdfdf;
                margin-left: 20px;
                width: 50px;
                height: 50px;
            }
            .denru {
                line-height: 30px;
                font-size: 14px;
                padding: 0;
            }
        }
        .register-z {
            height: 88px;
            padding: 0;
            dl {
                float: left;
                margin: 0px 10px;
            }
            dd {
                text-align: center;
            }
        }
        .register-r {
            border-left: 1px solid #dfdfdf;
            height: 88px;
            width: 280px;
            padding: 0;
            margin: 0;
        }
    }
}

//这里是登录条上的最右边
.gonggao {
    float: left;
    text-align: center;
    padding: 0;
    margin: 0;
    .ggx {
        width: 286px;
        height: 44px;
        .ggx-t {
            float: left;
            list-style: $n;
            width: 40px;
            height: 40px;
            background-color: green;
            margin-right: 48px;
            // margin-top: 10px;
            a {
                display: inline-block;
                width: 50px;
                height: 15px;
                text-decoration: $n;
                margin: 10px 40px;
            }
        }
    }
}

// 这里是banner下的第一部分列表 
.index-list {
    padding: 0;
    height: 200px;
    .in-list1 {
        list-style: $n;
        a {
            float: left;
            margin-left: 10px;
            img {
                border-radius: 10px;
                width: 280px;
                height: 200px
            }
        }
    }
}

// 这里是热销单品列表
.index-list2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1210px;
    height: 592px;
}

// 这是热销单品列表的左边
.index-list2l {
    width: 230px;
    height: 592px;
    .rxdp {
        float: left;
        dt {
            width: 230px;
            height: 592px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
}

// 这是热销单品列表的右边
.index-list2r {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 970px;
    float: left;
    .rxdp {
        width: 220px;
        background: #f9f9f9;
        border-radius: 10px;
        margin-left: 12px;
        margin-bottom: 12px;
        margin-top: 0;
        dt {
            width: 220px;
            text-align: center;
            img {
                padding-top: 25px;
                margin-bottom: 12px;
                width: 150px;
                height: 150px;
            }
        }
        dd {
            width: 220px;
            margin: 8px 0;
            text-align: center;
            .a2 {
                color: #3a3a3a;
            }
            .a3 {
                color: #777;
            }
            .a4 {
                color: #d0021b;
            }
        }
    }
}

// 这里是页面中间的轮播
.modlunbo {
    position: relative;
    ul {
        li {
            @extend %ul;
            position: absolute;
            margin: 10;
        }
    }
    ol {
        position: absolute;
        right: 0;
        top: 90px;
        li {
            @extend %ul;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid;
            float: left;
            margin: 5px;
            background-color: #fff;
        }
    }
}

// 手机系列
//这里是手机系列导航
.phoneseries {
    margin: 27px 0 12px;
    h1 {
        font-size: 26px;
        color: #333;
        line-height: 32px;
        float: left;
    }
    .series {
        @extend %ul;
        float: left;
        margin-left: 28px;
        height: 32px;
        font-size: 12px;
        line-height: 32px;
        color: #3a3a3a;
        li {
            float: left;
            a {
                font-size: 14px;
                color: #999;
                margin-left: 0;
                margin-right: 24px;
                line-height: 32px;
            }
        }
        span {
            float: right;
            a {
                color: #999;
            }
        }
    }
}

// 这里是手机系列列表
.phone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1300px;
}

.phonelist {
    text-align: center;
    li {
        margin: 0 0 12px 12px;
        float: left;
        background-color: #fdf7f7;
        @extend %ul;
        border-radius: 15px;
    }
    a {
        @extend %ul;
        img {
            width: 150px;
            height: 150px;
            margin: 35px 40px 0 40px;
        }
        div {
            margin: 12px 10px 18px 0;
            text-align: center;
            p {
                margin: 8px 10px;
                color: #777;
            }
            span {
                color: red;
            }
        }
    }
}