ul {
  list-style: none;
}

a {
  text-decoration: none;
}

em,
i {
  font-style: normal;
}

b,
strong {
  font-weight: normal;
}

html,
body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
div,
img {
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center, .center1 {
  width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #fbfbfb;
}

.viewwidth {
  height: 36px;
  background-color: #000;
}

.nav {
  font-size: 12px;
  display: flex;
  flex-direction: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #797474;
  text-align: center;
  line-height: 36px;
}
.nav a {
  color: #afafaf;
  padding: 8px;
}
.nav a:hover {
  color: #fff;
}
.nav a:hover .ai {
  transform: rotate(-90deg);
}
.nav a .ai {
  display: inline-block;
  transform: rotate(90deg);
}
.nav .nav-l,
.nav .nav-r {
  display: flex;
  flex-direction: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.nav .nav-l li:hover .navig-a,
.nav .nav-r li:hover .navig-a {
  color: red;
  border: #fff 2px solid;
  background-color: #fff;
}
.nav .nav-l li:hover .two-navigation,
.nav .nav-r li:hover .two-navigation {
  display: block;
  background-color: #fff;
}

.navigation {
  position: relative;
}
.navigation .two-navigation {
  position: absolute;
  z-index: 123;
  top: 36px;
  right: 0;
  background-color: #fff;
  text-align: center;
  border-radius: 8px 0 8px 8px;
  line-height: 24px;
  display: none;
}
.navigation .two-navigation tr {
  padding: 10px;
}

.viewwidth1 {
  background-color: #f9f9f9;
  width: 100%;
  min-width: 1200px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 18px;
  padding: 22px 0 20px;
}

.footer-middle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 23px 0 24px;
  margin: 0 auto;
}
.footer-middle .middle-l {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 920px;
  height: 155px;
  padding-top: 5px;
  border-right: 1px solid #e5e5e5;
}
.footer-middle .middle-l dt {
  padding-bottom: 7px;
}
.footer-middle .middle-l a {
  color: #777;
  font-size: 12px;
  line-height: 22px;
}
.footer-middle .middle-l a:hover {
  color: #ca141d;
}
.footer-middle .middle-r {
  width: 278px;
  min-height: 160px;
  margin-top: 2px;
  text-align: center;
}
.footer-middle .middle-r strong {
  color: #575757;
  font-size: 24px;
}
.footer-middle .middle-r dl > dd > a {
  color: #575757;
  font-size: 12px;
}
.footer-middle .middle-r .fi {
  font-size: 40px;
}

.footer-bottom {
  padding: 25px 0 28px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.footer-bottom .bottom-l img {
  width: 82px;
  height: 20px;
}
.footer-bottom .bottom-m {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-left: -200px;
}
.footer-bottom .bottom-m .bot-m-mt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 12px;
}
.footer-bottom .bottom-m .bot-m-mt li {
  margin-left: 3px;
}
.footer-bottom .bottom-m .bot-m-mt li a {
  color: #777;
  padding-left: 6px;
  font-size: 12px;
}
.footer-bottom .bottom-m .bot-m-mt li a:hover {
  color: #ca141d;
}
.footer-bottom .bottom-m .bot-m-mb {
  color: #a4a4a4;
  font-size: 12px;
}
.footer-bottom .bottom-m .bot-m-mb a {
  color: #a4a4a4;
}
.footer-bottom .bottom-m .bot-m-mb a:hover {
  color: #ca141d;
}

.center1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.goods {
  position: relative;
  width: 520px;
  height: 520px;
}
.goods .tu {
  position: relative;
}
.goods .tu #pic {
  width: 500px;
  height: 500px;
}
.goods .tu #pic #xpic {
  width: 500px;
  height: 500px;
}
.goods .tu #xf {
  visibility: hidden;
  background-color: rgba(253, 196, 9, 0.4);
  position: absolute;
  top: 0px;
}
.goods #df {
  position: absolute;
  top: 0;
  left: 520px;
  border: solid 1px;
  width: 600px;
  height: 600px;
  background-color: #fff;
  visibility: hidden;
  overflow: hidden;
}
.goods #df #dpic {
  width: 900px;
  height: 900px;
  position: absolute;
}
.goods #ulist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.goods #ulist #list {
  width: 450px;
  height: 68px;
}
.goods #ulist #list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 450px;
  overflow: hidden;
}
.goods #ulist #list ul li {
  margin: 3px 13px 3px;
}
.goods #ulist #list ul li img {
  width: 60px;
  height: 60px;
}
.goods #ulist a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  margin-top: 15px;
  text-align: center;
  color: #7e7c79;
  border: 1px solid #111;
}
.goods .rjiantou {
  display: block;
  transform: rotate(180deg);
}

.goodsinfo-word {
  width: 700px;
  height: 600px;
}
.goodsinfo-word .goodsinfo {
  margin: 20px 40px;
}
.goodsinfo-word .p-name {
  margin: 10px 0;
}
.goodsinfo-word .p-name a {
  color: #3a3a3a;
}
.goodsinfo-word .p-price {
  width: 600px;
  height: 200px;
  padding-top: 20px;
  background: #f5f5f5;
}
.goodsinfo-word .p-price strong {
  margin: 10px 10px 0 0;
  color: #3a3a3a;
}
.goodsinfo-word .p-price strong em {
  margin-left: 20px;
  color: #ca141d;
}
.goodsinfo-word .p-price strong .loadpcp {
  color: #ca141d;
  font-size: 20px;
}
.goodsinfo-word .cx {
  margin: 10px 0;
}
.goodsinfo-word .cx a {
  text-align: center;
  display: inline-block;
  margin: 10px 0 0 85px;
  width: 100px;
  height: 20px;
  color: red;
  border: red 1px solid;
}
.goodsinfo-word .p-btn {
  margin-top: 170px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.goodsinfo-word .p-btn .sl {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.goodsinfo-word .p-btn .sl #count {
  width: 50px;
  height: 50px;
  border: #7e7c79 1px solid;
  border-right: 0;
  text-align: center;
}
.goodsinfo-word .p-btn .sl bottom {
  width: 20px;
  height: 50px;
  border: 1px solid #7e7c79;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.goodsinfo-word .p-btn .sl bottom a {
  color: #7e7c79;
}
.goodsinfo-word .p-btn .xd,
.goodsinfo-word .p-btn .jg {
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-left: 30px;
  color: #fff;
}
.goodsinfo-word .p-btn .xd {
  background-color: orangered;
}
.goodsinfo-word .p-btn .jg {
  background-color: orange;
}

/*# sourceMappingURL=detail.css.map */
