ul {
  list-style: none;
}

a {
  text-decoration: none;
}

em,
i {
  font-style: normal;
}

b,
strong {
  font-weight: normal;
}

html,
body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
div,
img {
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #fbfbfb;
}

.viewwidth {
  height: 36px;
  background-color: #000;
}

.nav {
  font-size: 12px;
  display: flex;
  flex-direction: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #797474;
  text-align: center;
  line-height: 36px;
}
.nav a {
  color: #afafaf;
  padding: 8px;
}
.nav a:hover {
  color: #fff;
}
.nav a:hover .ai {
  transform: rotate(-90deg);
}
.nav a .ai {
  display: inline-block;
  transform: rotate(90deg);
}
.nav .nav-l,
.nav .nav-r {
  display: flex;
  flex-direction: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.nav .nav-l li:hover .navig-a,
.nav .nav-r li:hover .navig-a {
  color: red;
  border: #fff 2px solid;
  background-color: #fff;
}
.nav .nav-l li:hover .two-navigation,
.nav .nav-r li:hover .two-navigation {
  display: block;
  background-color: #fff;
}

.navigation {
  position: relative;
}
.navigation .two-navigation {
  position: absolute;
  z-index: 123;
  top: 36px;
  right: 0;
  background-color: #fff;
  text-align: center;
  border-radius: 8px 0 8px 8px;
  line-height: 24px;
  display: none;
}
.navigation .two-navigation tr {
  padding: 10px;
}

.viewwidth1 {
  background-color: #f9f9f9;
  width: 100%;
  min-width: 1200px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 18px;
  padding: 22px 0 20px;
}

.footer-middle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 23px 0 24px;
  margin: 0 auto;
}
.footer-middle .middle-l {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 920px;
  height: 155px;
  padding-top: 5px;
  border-right: 1px solid #e5e5e5;
}
.footer-middle .middle-l dt {
  padding-bottom: 7px;
}
.footer-middle .middle-l a {
  color: #777;
  font-size: 12px;
  line-height: 22px;
}
.footer-middle .middle-l a:hover {
  color: #ca141d;
}
.footer-middle .middle-r {
  width: 278px;
  min-height: 160px;
  margin-top: 2px;
  text-align: center;
}
.footer-middle .middle-r strong {
  color: #575757;
  font-size: 24px;
}
.footer-middle .middle-r dl > dd > a {
  color: #575757;
  font-size: 12px;
}
.footer-middle .middle-r .fi {
  font-size: 40px;
}

.footer-bottom {
  padding: 25px 0 28px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.footer-bottom .bottom-l img {
  width: 82px;
  height: 20px;
}
.footer-bottom .bottom-m {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-left: -200px;
}
.footer-bottom .bottom-m .bot-m-mt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 12px;
}
.footer-bottom .bottom-m .bot-m-mt li {
  margin-left: 3px;
}
.footer-bottom .bottom-m .bot-m-mt li a {
  color: #777;
  padding-left: 6px;
  font-size: 12px;
}
.footer-bottom .bottom-m .bot-m-mt li a:hover {
  color: #ca141d;
}
.footer-bottom .bottom-m .bot-m-mb {
  color: #a4a4a4;
  font-size: 12px;
}
.footer-bottom .bottom-m .bot-m-mb a {
  color: #a4a4a4;
}
.footer-bottom .bottom-m .bot-m-mb a:hover {
  color: #ca141d;
}

.navigation-spfl .navigation-two, .banner, .modlunbo ul li, .modlunbo ol li, .phoneseries .series, .phonelist li, .phonelist a {
  list-style: none;
  text-decoration: none;
}

html,
body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
div,
img {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  background-color: #f7f9ff;
}

.top-log-li {
  padding: 0;
}
.top-log-li ul {
  padding-left: 0;
  height: 24px;
  margin: 18px 0 15px;
  font-size: 16px;
}
.top-log-li ul li {
  text-align: center;
  float: left;
  margin: 0 12px;
}
.top-log-li ul li:hover .a {
  color: red;
  text-decoration: none;
}
.top-log-li ul li a {
  color: #3a3939;
}

.top-log-in {
  text-align: center;
  margin: 18px 0 15px;
}
.top-log-in input {
  width: 205px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  background-color: #ececec;
  color: #918c8c;
}

.navigation-spfl {
  position: relative;
}
.navigation-spfl:hover .navigation-two {
  display: block;
}
.navigation-spfl .navigation-two {
  position: absolute;
  top: 38px;
  left: -215px;
  width: 220px;
  height: 400px;
  border-radius: 8px 0px 0px 8px;
  background-color: #e9e5e5;
  display: none;
  z-index: 333;
}
.navigation-spfl .navigation-two li {
  text-align: left;
  width: 200px;
  height: 40px;
  color: #969494;
}
.navigation-spfl .navigation-two li span {
  float: right;
}
.navigation-spfl .navigation-two li dl {
  position: absolute;
  left: 220px;
  top: 0;
  width: 450px;
  height: 400px;
  background-color: #fff;
  border-radius: 0px 8px 8px 0px;
}
.navigation-spfl .navigation-two li dl dt {
  margin: 20px;
}

.banner {
  height: 550px;
  width: 100%;
  padding: 0;
  position: relative;
}
.banner .lunbotu {
  width: 100%;
  height: 550px;
  position: absolute;
  opacity: 0;
}
.banner .ol {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 800px;
  top: 450px;
}
.banner .ol em {
  float: left;
  display: block;
  text-align: center;
  width: 30px;
  height: 30px;
  margin-right: 13px;
  border: 1px solid;
  border-radius: 50%;
  color: #fff;
  z-index: 333;
}
.banner .ol .active {
  background-color: #fff;
}

.jiantou {
  width: 100%;
  position: absolute;
  top: 200px;
}
.jiantou .a-1 #left {
  width: 80px;
  height: 80px;
  display: block;
  font-size: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  float: left;
  margin-left: 210px;
}
.jiantou .a-1 #right {
  width: 80px;
  height: 80px;
  display: block;
  font-size: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  float: right;
}

.list-1 {
  margin: 16px 0;
  width: 100%;
  position: absolute;
  right: 480px;
}
.list-1 .list-11 {
  position: relative;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.08);
}
.list-1 .list-11 a {
  font-size: 16px;
  padding: 12px 16px;
  display: block;
  color: #969494;
  text-decoration: none;
}
.list-1 .list-11 a:hover dl {
  display: block;
}
.list-1 .list-11 a:hover .list-11 {
  border-radius: 10px 0 0 10px;
}
.list-1 .list-11 a span {
  float: right;
}
.list-1 .list-11 a dl {
  position: absolute;
  left: 180px;
  top: 0;
  width: 450px;
  height: 460px;
  background-color: #fff;
  border-radius: 0px 8px 8px 0px;
  display: none;
}
.list-1 .list-11 a dl dt {
  margin: 20px;
  float: left;
}

.register {
  height: 120px;
  width: 100%;
  position: absolute;
  top: 500px;
}
.register .register-bx {
  height: 120px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 0 20px 0;
}
.register .register-bx .register-l {
  border-right: solid 1px #afafaf;
  height: 88px;
  text-align: center;
}
.register .register-bx .register-l .touxiang {
  border-radius: 50%;
  display: inline-block;
  background-color: #dfdfdf;
  margin-left: 20px;
  width: 50px;
  height: 50px;
}
.register .register-bx .register-l .denru {
  line-height: 30px;
  font-size: 14px;
  padding: 0;
}
.register .register-bx .register-z {
  height: 88px;
  padding: 0;
}
.register .register-bx .register-z dl {
  float: left;
  margin: 0px 10px;
}
.register .register-bx .register-z dd {
  text-align: center;
}
.register .register-bx .register-r {
  border-left: 1px solid #dfdfdf;
  height: 88px;
  width: 280px;
  padding: 0;
  margin: 0;
}

.gonggao {
  float: left;
  text-align: center;
  padding: 0;
  margin: 0;
}
.gonggao .ggx {
  width: 286px;
  height: 44px;
}
.gonggao .ggx .ggx-t {
  float: left;
  list-style: none;
  width: 40px;
  height: 40px;
  background-color: green;
  margin-right: 48px;
}
.gonggao .ggx .ggx-t a {
  display: inline-block;
  width: 50px;
  height: 15px;
  text-decoration: none;
  margin: 10px 40px;
}

.index-list {
  padding: 0;
  height: 200px;
}
.index-list .in-list1 {
  list-style: none;
}
.index-list .in-list1 a {
  float: left;
  margin-left: 10px;
}
.index-list .in-list1 a img {
  border-radius: 10px;
  width: 280px;
  height: 200px;
}

.index-list2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1210px;
  height: 592px;
}

.index-list2l {
  width: 230px;
  height: 592px;
}
.index-list2l .rxdp {
  float: left;
}
.index-list2l .rxdp dt {
  width: 230px;
  height: 592px;
}
.index-list2l .rxdp dt img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.index-list2r {
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 970px;
  float: left;
}
.index-list2r .rxdp {
  width: 220px;
  background: #f9f9f9;
  border-radius: 10px;
  margin-left: 12px;
  margin-bottom: 12px;
  margin-top: 0;
}
.index-list2r .rxdp dt {
  width: 220px;
  text-align: center;
}
.index-list2r .rxdp dt img {
  padding-top: 25px;
  margin-bottom: 12px;
  width: 150px;
  height: 150px;
}
.index-list2r .rxdp dd {
  width: 220px;
  margin: 8px 0;
  text-align: center;
}
.index-list2r .rxdp dd .a2 {
  color: #3a3a3a;
}
.index-list2r .rxdp dd .a3 {
  color: #777;
}
.index-list2r .rxdp dd .a4 {
  color: #d0021b;
}

.modlunbo {
  position: relative;
}
.modlunbo ul li {
  position: absolute;
  margin: 10;
}
.modlunbo ol {
  position: absolute;
  right: 0;
  top: 90px;
}
.modlunbo ol li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid;
  float: left;
  margin: 5px;
  background-color: #fff;
}

.phoneseries {
  margin: 27px 0 12px;
}
.phoneseries h1 {
  font-size: 26px;
  color: #333;
  line-height: 32px;
  float: left;
}
.phoneseries .series {
  float: left;
  margin-left: 28px;
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  color: #3a3a3a;
}
.phoneseries .series li {
  float: left;
}
.phoneseries .series li a {
  font-size: 14px;
  color: #999;
  margin-left: 0;
  margin-right: 24px;
  line-height: 32px;
}
.phoneseries .series span {
  float: right;
}
.phoneseries .series span a {
  color: #999;
}

.phone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1300px;
}

.phonelist {
  text-align: center;
}
.phonelist li {
  margin: 0 0 12px 12px;
  float: left;
  background-color: #fdf7f7;
  border-radius: 15px;
}
.phonelist a img {
  width: 150px;
  height: 150px;
  margin: 35px 40px 0 40px;
}
.phonelist a div {
  margin: 12px 10px 18px 0;
  text-align: center;
}
.phonelist a div p {
  margin: 8px 10px;
  color: #777;
}
.phonelist a div span {
  color: red;
}

/*# sourceMappingURL=index1.css.map */
